
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  mat-card {
    width: 400px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 10px;
  }
  

  