<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Liquidar Valor de Salida</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="form-group">
          <mat-label>
            <i class="material-icons">directions_car</i> ID del Vehículo
          </mat-label>
          <input matInput [(ngModel)]="idVehiculo" placeholder="Ingrese el ID del Vehículo" />
      </div>

      <div class="form-group">
          <mat-label>
            <i class="material-icons">shopping_cart</i> Realizó compra
          </mat-label>
          <mat-radio-group [(ngModel)]="realizoCompra">
            <mat-radio-button value="true">Sí</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
      </div>

      <div class="form-group">
          <mat-label>
            <i class="material-icons">attach_money</i> Total de la Compra
          </mat-label>
          <input matInput type="number" [(ngModel)]="totalCompra" placeholder="Ingrese el Total de la Compra" />
      </div>

      <button mat-raised-button color="primary" (click)="liquidarValorSalida()">
        Liquidar Valor de Salida
      </button>
    </mat-card-content>
  </mat-card>
</div>
