<div>
    <mat-toolbar color="primary">
      <button mat-button routerLink="/registrar-ingreso">
        <mat-icon>add_circle</mat-icon> Registrar Ingreso
      </button>
      <button mat-button routerLink="/liquidar-valor-salida">
        <mat-icon>attach_money</mat-icon> Liquidar Valor de Salida
      </button>
      <button mat-button routerLink="/obtener-listado">
        <mat-icon>list</mat-icon> Obtener Listado
      </button>
    </mat-toolbar>
  </div>
  
  <router-outlet></router-outlet>
  